%p
  %label{:for => "#{form}_#{name}"}= title
  %br
  - options.each_with_index do |o, i|
    %input{:type => 'checkbox', :id => "#{form}_#{name}", :name => "#{form}[#{name}]", :value => o, :checked => value && value[i] == o ? 'true' : false}
    %label= o
    %br
