%p
  %label{:for => "#{form}_#{name}", :class => required ? 'required' : false}= title
  %br
  %div{:id => "#{form}_#{name}", "data-required" => required ? required.to_s : false}  
    - options.each_with_index do |o, i|
      %input{:type => 'checkbox', :id => "#{form}_#{name}_#{o.underscore}", :name => "#{form}[#{name}]", :value => o.underscore, :checked => value && value.index(o.underscore) ? 'true' : false}
      %label= o
      %br
