%p  
  %label{:for => "#{form}_#{name}"}= title
  %br
  - rows.each_with_index do |r, i| 
    %label= r
    - columns.each do |c|
      %input{:type => 'radio', :id => "#{form}_#{name}_#{r}_#{c}", :name => "#{form}[#{name}_#{r}]", :value => c, :checked => value && value.index({r => c}) ? true : false }     
      %label= c
    %br
