%p
  %label{:for => "#{form}_#{name}", :class => required ? 'required' : false}= title
  %br
  %select{:id => "#{form}_#{name}", :name => "#{form}[#{name}]", "data-required" => required ? required.to_s : false}
    - options.each do |o|
      %option{:value => o.underscore, :selected => value == o.underscore ? 'true' : false }= o