%p
  %label{:for => "#{form}_#{name}", :class => required ? 'required' : false}= title
  %br
  %div{:id => "#{form}_#{name}", "data-required" => required ? required.to_s : false}
    - options.each do |o|
      %input{:type => 'radio', :id => "#{form}_#{name}_#{o.underscore}", :name => "#{form}[#{name}]", :value => o.underscore, :checked => value == o.underscore ? 'true' : false }
      %label= o
      %br
