%p
  %label{:for => "#{form}_#{name}", :class => required ? 'required' : false }= title
  %br
  %textarea{:id => "#{form}_#{name}", :name => "#{form}[#{name}]", "data-required" => required.to_s}= value
