%p
  %label{:for => "#{form}_#{name}", :class => required ? 'required' : false }= title
  %br
  %table{:id => "#{form}_#{name}",:border => 0, :cellspacing => 0, :cellpadding => 0, "data-required" => required ? required.to_s : false}
    %tr
      %td &nbsp;
      - i = 0
      - ((stop_value - start_value) + 1).times do
     
        %td{:style => 'text-align:center'}= (start_value + i).to_s 
        - i += 1
      %td &nbsp;
    %tr
      %td{:style => 'border-top: 1px solid #333;border-bottom: 1px solid #333;'}= start_label
      - i = 0
      - ((stop_value - start_value) + 1).times do 
        
        %td{:style => 'border-top: 1px solid #333;border-bottom: 1px solid #333;'}
          %input{:type => 'radio', :id => "#{form}_#{name}_#{(start_value + i).to_s}", :name => "#{form}[#{name}]", :value => (start_value + i).to_s, :checked => value == (start_value + i) ? 'true' : false }
        - i += 1
      %td{:style => 'border-top: 1px solid #333;border-bottom: 1px solid #333;'}= stop_label
      
